/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$primary-color: lightblue;

@import "bootstrap-sprockets";
@import "bootstrap";

video#bgvid {
  position: fixed;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

  z-index: -100;
  /*background: url("/assets/brooklyn.jpg");*/
  /*background: url("https://images.unsplash.com/photo-1444392061186-9fc38f84f726?q=80&fm=jpg&s=4df74cf67c383e46c426b4e864560fbf");*/
  background: url("https://images.unsplash.com/27/winter-view.jpeg?q=80&fm=jpg&s=0fb26fc415ef69141153d8e452b630c3");
  /*background: url("https://images.unsplash.com/photo-1444399344830-a0f10c7f9888?q=80&fm=jpg&s=a0e8b0f29338858cbe7fcad05dfdb776");*/
  /*background: url("https://images.unsplash.com/photo-1438978280647-f359d95ebda4?q=80&fm=jpg&s=73cb1239b517411534379c92660b2660");*/
  /*background: url("https://images.unsplash.com/photo-1444488694761-b033d54b1c46?q=80&fm=jpg&s=887edb69aef978ed5dd9c23e12fd2e01");*/
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.review-header {
  display: inline-block;
  color: $primary-color;
  background-color: white;
  border-radius: 5px;
}

.review-index {
  margin: 20px auto;
  width: 800px;
  border-radius: 5px;
  background-color: $primary-color;
  color: white;
  text-align: center;
  padding: 20px;
}

.review-index-item {
  padding-bottom: 10px;
  border-radius: 5px;
}

.review-index-item:hover {
  background-color: #F3DBFF;
  color: black;
}

.review-form {
  padding: 20px;
  border-radius: 5px;
  background-color: $primary-color;
  color: white;
  width: 800px;
  margin: 20px auto;
}

body {
  font-family: "Montserrat", Ubuntu;
}

.single-bench {
  margin: 0 auto;
  text-align: center;
  min-width: 800px;
  height: 500px;
}

.bench-show {
  padding: 20px;
  display: inline-block;
  text-align: center;
  height: 500px;
  width: 300px;
  border: 1px solid $primary-color;
  border-radius: 0 5px 5px 0;
  background-color: white;
  overflow-y: scroll;
}

.bench-show-image {
  border-radius: 5px;
  border: 1px solid #F3DBFF;
  margin-bottom: 10px;
}

.bench-form {
  width: 800px;
  margin: 20px auto;
  background-color: $primary-color;
  color: white;
  padding: 20px;
  border-radius: 5px;
}

.map {
  height: 500px;
  width: 500px;
  background-color: $primary-color;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px 0 0 5px;
  display: inline-block;
}

.bench-list-item:hover {
  background-color: $primary-color;
  cursor: pointer;
  color: white;
}

.bench-list-item-text {
  display: inline-block;
  text-align: left;
}

.bench-list-item-image {
  display: inline-block;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #F3DBFF;
  transform: translateY(-20px);
}

.filter-form {
  margin: 20px auto;
  padding: 20px 20px;
  text-align: center;
  border-radius: 5px;
  color: white;
  background-color: $primary-color;
  min-width: 800px;
  width: 70%;
}

.filter-header {
  color: $primary-color;
  display: inline-block;
  background: white;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.map-filter {
  margin: 0 auto;
  text-align: center;
  min-width: 800px;
}

.min-max-form {
  text-align: center;
}

.bench-list-item {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0;
  width: 100%;
}

.bench-index-header {
  color: white;
  background: $primary-color;
  margin: 0;
}

.doge {
  opacity: 0.03;
  float: right;
  width: 300px;
}

.header-words {
  float: left;
}

.bench-index {
  display: inline-block;
  text-align: center;
  height: 500px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $primary-color;
  overflow-y: scroll;
  border-radius: 0 5px 5px 0;
  background-color: white;
}

.main {
  margin-top: 20px;
  margin-bottom: 50px;
}

.jumbotron {
  width: 800px;
  position: relative;
  background-size: cover;
  overflow: hidden;
  color: $primary-color;
  background: $primary-color;
  font-weight: bold;
  margin: 20px auto;
}

.jumbotron h3 {
  background: white;
  display: table;
}

.jumbotron h1 {
  display: inline-block;
  font-weight: bold;
  background: white;
  width: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

hr {
  padding: 0;
  margin: 0;
}