/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: "Montserrat", Ubuntu;
}

.bench-form {
  width: 800px;
  margin: 20px auto;
}

.map {
  height: 500px;
  width: 500px;
  background-color: lightblue;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px 0 0 5px;
  display: inline-block;
}

.bench-list-item:hover {
  background-color: lightblue;
  cursor: pointer;
  color: white;
}

.filter-form {
  margin: 20px auto;
  padding: 20px 20px;
  text-align: center;
  border-radius: 5px;
  color: white;
  background-color: lightblue;
  min-width: 800px;
  width: 70%;

}

.clear-fix:after {
  content: "";
  display: table;
  clear: both;
}

.map-filter {
  margin: 0 auto;
  text-align: center;
  min-width: 800px;
}

.min-max-form {
  text-align: center;
}

.bench-list-item {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0;
  width: 100%;
}

.bench-index-header {
  color: white;
  background: lightblue;
  margin: 0;
}

.doge {
  opacity: 0.03;
  float: right;
  width: 300px;
}

.header-words {
  float: left;
}

.bench-index {
  display: inline-block;
  text-align: center;
  height: 500px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightgray;
  overflow-y: scroll;
  border-radius: 0 5px 5px 0;
}

.main {
  margin-top: 20px;
  margin-bottom: 50px;
}

.jumbotron {
  width: 800px;
  position: relative;
  background-size: cover;
  overflow: hidden;
  color: lightblue;
  background: lightblue;
  font-weight: bold;
  margin: 20px auto;
}

.jumbotron h3 {
  background: white;
  display: table;
}

.jumbotron h1 {
  display: inline-block;
  font-weight: bold;
  background: white;
  width: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

hr {
  padding: 0;
  margin: 0;
}